.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.header-text {
  font-size: 2rem;
  color: dodgerblue;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-color: dodgerblue;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
