.episode-list {
  margin-top: 4rem;
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.episode-podcast-card {
  padding: 2rem;
  margin: 0 2rem 2rem 0;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  max-height: 37rem;
  height: auto;
}

.podcast-card-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.podcast-card-text {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.podcast-card-text-bold {
  font-weight: bold;
}

.podcast-card-description-container {
  display: flex;
  flex-direction: column;
}

.episode-list-container {
  max-width: 75%;
  min-width: 50%;
}

.episode-list-title {
  border: 1px solid grey;
  padding: 0.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.episode-list-table {
  width: 100%;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.episode-list-table-th {
  text-align: left;
  padding-bottom: 0.5rem;
}

.episode-list-table-link {
  text-decoration: none;
  color: dodgerblue;
  cursor: pointer;
}

.episode-list-table-link:visited {
  text-decoration: none;
  color: dodgerblue;
}

.episode-list-table-link:any-link {
  text-decoration: none;
}

.episode-list-table-row {
  padding: 1rem;
  border-top: 1px solid grey;
}

.episode-list-table-tr:nth-child(odd) {
  background-color: #e9e9e9;
}
