.podcast-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  align-items: center;
  margin: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.podcast-card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.podcast-card-image-container {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.podcast-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.podcast-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.podcast-card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.podcast-card-author {
  margin: 0;
  font-size: 14px;
  color: #666666;
  text-align: center;
}
