.podcasts {
  display: flex;
  flex-direction: column;
}

.podcasts-filterSection {
  margin: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.podcasts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
