.episode-details-player-container {
  padding: 1.5rem;
  max-width: 40%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  max-height: 22rem;
  justify-content: space-between;
}

.episode-details-player {
  margin-top: 1rem;
  width: 100%;
  background-color: #333;
  border-radius: 4px;
  height: 2rem;
}

.episode-details-player::-webkit-media-controls {
  color: #fff;
}

.episode-details-player::-webkit-media-controls-enclosure {
  background-color: #333;
}

.episode-details-player::-webkit-media-slider-thumb {
  background-color: #fff;
}
